# Just Some Stuffs so ignore
*.o
*.hex
*.layout
*.depend
*.cbp
DungeonMaker
SDL2Lib/bin/sdl2-config
SDL2Lib/bin/SDL2.dll
SDL2Lib/include/SDL2/begin_code.h
SDL2Lib/include/SDL2/close_code.h
SDL2Lib/include/SDL2/SDL.h
SDL2Lib/include/SDL2/SDL_assert.h
SDL2Lib/include/SDL2/SDL_atomic.h
SDL2Lib/include/SDL2/SDL_audio.h
SDL2Lib/include/SDL2/SDL_bits.h
SDL2Lib/include/SDL2/SDL_blendmode.h
SDL2Lib/include/SDL2/SDL_clipboard.h
SDL2Lib/include/SDL2/SDL_config.h
SDL2Lib/include/SDL2/SDL_cpuinfo.h
SDL2Lib/include/SDL2/SDL_egl.h
SDL2Lib/include/SDL2/SDL_endian.h
SDL2Lib/include/SDL2/SDL_error.h
SDL2Lib/include/SDL2/SDL_events.h
SDL2Lib/include/SDL2/SDL_filesystem.h
SDL2Lib/include/SDL2/SDL_gamecontroller.h
SDL2Lib/include/SDL2/SDL_gesture.h
SDL2Lib/include/SDL2/SDL_haptic.h
SDL2Lib/include/SDL2/SDL_hints.h
SDL2Lib/include/SDL2/SDL_joystick.h
SDL2Lib/include/SDL2/SDL_keyboard.h
SDL2Lib/include/SDL2/SDL_keycode.h
SDL2Lib/include/SDL2/SDL_loadso.h
SDL2Lib/include/SDL2/SDL_locale.h
SDL2Lib/include/SDL2/SDL_log.h
SDL2Lib/include/SDL2/SDL_main.h
SDL2Lib/include/SDL2/SDL_messagebox.h
SDL2Lib/include/SDL2/SDL_metal.h
SDL2Lib/include/SDL2/SDL_misc.h
SDL2Lib/include/SDL2/SDL_mouse.h
SDL2Lib/include/SDL2/SDL_mutex.h
SDL2Lib/include/SDL2/SDL_name.h
SDL2Lib/include/SDL2/SDL_opengl.h
SDL2Lib/include/SDL2/SDL_opengl_glext.h
SDL2Lib/include/SDL2/SDL_opengles.h
SDL2Lib/include/SDL2/SDL_opengles2.h
SDL2Lib/include/SDL2/SDL_opengles2_gl2.h
SDL2Lib/include/SDL2/SDL_opengles2_gl2ext.h
SDL2Lib/include/SDL2/SDL_opengles2_gl2platform.h
SDL2Lib/include/SDL2/SDL_opengles2_khrplatform.h
SDL2Lib/include/SDL2/SDL_pixels.h
SDL2Lib/include/SDL2/SDL_platform.h
SDL2Lib/include/SDL2/SDL_power.h
SDL2Lib/include/SDL2/SDL_quit.h
SDL2Lib/include/SDL2/SDL_rect.h
SDL2Lib/include/SDL2/SDL_render.h
SDL2Lib/include/SDL2/SDL_revision.h
SDL2Lib/include/SDL2/SDL_rwops.h
SDL2Lib/include/SDL2/SDL_scancode.h
SDL2Lib/include/SDL2/SDL_sensor.h
SDL2Lib/include/SDL2/SDL_shape.h
SDL2Lib/include/SDL2/SDL_stdinc.h
SDL2Lib/include/SDL2/SDL_surface.h
SDL2Lib/include/SDL2/SDL_system.h
SDL2Lib/include/SDL2/SDL_syswm.h
SDL2Lib/include/SDL2/SDL_test.h
SDL2Lib/include/SDL2/SDL_test_assert.h
SDL2Lib/include/SDL2/SDL_test_common.h
SDL2Lib/include/SDL2/SDL_test_compare.h
SDL2Lib/include/SDL2/SDL_test_crc32.h
SDL2Lib/include/SDL2/SDL_test_font.h
SDL2Lib/include/SDL2/SDL_test_fuzzer.h
SDL2Lib/include/SDL2/SDL_test_harness.h
SDL2Lib/include/SDL2/SDL_test_images.h
SDL2Lib/include/SDL2/SDL_test_log.h
SDL2Lib/include/SDL2/SDL_test_md5.h
SDL2Lib/include/SDL2/SDL_test_memory.h
SDL2Lib/include/SDL2/SDL_test_random.h
SDL2Lib/include/SDL2/SDL_thread.h
SDL2Lib/include/SDL2/SDL_timer.h
SDL2Lib/include/SDL2/SDL_touch.h
SDL2Lib/include/SDL2/SDL_types.h
SDL2Lib/include/SDL2/SDL_version.h
SDL2Lib/include/SDL2/SDL_video.h
SDL2Lib/include/SDL2/SDL_vulkan.h
SDL2Lib/lib/cmake/SDL2/sdl2-config-version.cmake
SDL2Lib/lib/cmake/SDL2/sdl2-config.cmake
SDL2Lib/lib/libSDL2.a
SDL2Lib/lib/libSDL2.dll.a
SDL2Lib/lib/libSDL2.la
SDL2Lib/lib/libSDL2_test.a
SDL2Lib/lib/libSDL2_test.la
SDL2Lib/lib/libSDL2main.a
SDL2Lib/lib/libSDL2main.la
SDL2Lib/lib/pkgconfig/sdl2.pc
SDL2Lib/share/aclocal/sdl2.m4
